# 파일 읽기

In [47]:
with open('abc/text.txt', 'w') as f:
    f.write('hello')

In [48]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [49]:
with open('abc/text1.txt', 'w', encoding='utf-8') as f:
    f.write('안녕하세요\n')
    f.write('넹........\n')

In [50]:
# with open('abc/text1.txt', 'r', encoding='utf-16') as f:
#     txtfile = f.read()  # UnicodeError: UTF-16 stream does not start with BOM
#     print(txtfile)

In [51]:
with open('abc/text1.txt', 'r', encoding='utf-8') as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요
넹........

In [52]:
with open('abc/text1.txt', 'a', encoding='utf-8') as f:
    f.write('추가\n')
    f.write('야호\n')

In [53]:
with open('abc/text1.txt', 'r', encoding='utf-8') as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요
넹........
추가
야호

In [54]:
lines = ["1. 데이터분석함수.ipynb\n", "2. 넘파이연습.ipynb\n"]

with open('abc/text2.txt', 'w') as f:
    f.writelines(lines)

In [55]:
# read() : 전체 읽어오기
with open('abc/text2.txt', 'r') as f:
    line = f.read()
    print(line)

1. 데이터분석함수.ipynb
2. 넘파이연습.ipynb

In [59]:
# readline() : 한 줄씩 읽어오기
with open('abc/text2.txt', 'r') as f:
    line = f.readline()
    line2 = f.readline()
    print(line,line2, sep='')

1. 데이터분석함수.ipynb
2. 넘파이연습.ipynb

In [57]:
# readlines() : 전체를 줄단위로 리스트 형태로 읽어오기
with open('abc/text2.txt', 'r') as f:
    line = f.readlines()
    print(line)

['1. 데이터분석함수.ipynb\n', '2. 넘파이연습.ipynb\n']

# 피클, 직렬화/역직렬화

In [60]:
import pickle

# 직렬화할 데이터 딕셔너리
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [61]:
# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [63]:
import json

In [64]:
with open('abc/data.json', 'w') as f:
    json.dump(data, f)

In [65]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)

print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [67]:
import csv

data = [['name', 'age'], ['bob', 20], ['alice', 15]]

In [73]:
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [85]:
with open('abc/data.csv', 'r') as f:
    loaded_csv = list(csv.reader(f))

print(loaded_csv)

[['name', 'age'], [], ['bob', '20'], [], ['alice', '15'], []]

In [92]:
with open('abc/data.csv', 'r') as f:
    loaded_csv = csv.reader(f)
    for i in loaded_csv:
        print(i)

['name', 'age']
[]
['bob', '20']
[]
['alice', '15']
[]

In [82]:
import pandas as pd

df = pd.DataFrame(data[1:], columns=data[0])
df.to_csv('abc/data_df.csv', index=False)

In [83]:
pd.read_csv('abc/data_df.csv')

    name  age
0    bob   20
1  alice   15

In [93]:
data

[['name', 'age'], ['bob', 20], ['alice', 15]]